.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.footer__column-link:hover {
  color: #aaa;
}
