.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  font-size: 36px;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity .3s;
}

.feynman__link::after {
  content: " →";
}

.feynman__link:hover {
  opacity: .5;
}
