.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 250px;
  /* 250px а не 350 потому что в у селектора footer пэддинг суммарный еще 100px */
}