.header__link {
  color: #2f80ed;
  text-decoration: none;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.header__link::after {
  content: " →";
}

.header__link:hover {
  opacity: .5;
}
