.form__button_type_reset {
  border: 1px solid #f44;;
  -webkit-transition: background-color .4s;;
  -o-transition: background-color .4s;;
  transition: background-color .4s;
}

.form__button_type_reset:hover {
  background-color: #f44;
}
